body {
    background-color: rgb(255, 0, 0);
    margin: 0;

}


.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
}


img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 80px;

}

.text {
    font-size: 30px;
}

.penutup {
    background-color: black;
    line-height: 10vh;
    padding: 14px 15px;

    color: white;
}


/* Selektor atribut untuk menargetkan link dengan atribut 'class' */
a[class="disabled"] {
    color: gray;
    pointer-events: none;
}

/* Pseudo-class :hover untuk efek pada tombol saat di-hover */

button {
    background-color: #4CAF50;
}
button:hover {
   background: white;

}

/* Pseudo-class :nth-child untuk memilih item tertentu dalam daftar */
li:nth-child(2) {
    color: blue;
}

/* Pseudo-element ::before untuk menambahkan konten sebelum elemen */
li::before {
    content: "• ";


}


.flex-container {
    display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         height: 200px;
       
}

.item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 60px 20px 25px ;
}